body{
	font-family: sans-serif;
    font-size: 18px;
}
.ba-container{
	margin:0 auto;
	width: 1200px;

	
}

.grid{
	color: white;
display: grid;
 grid-row-gap: 20px;
 grid-column-gap: 20px;
 grid-template-columns: 160px 160px 160px 160px 80px 80px 160px;
 grid-template-rows: 150px 165px 150px 150px 195px ;


}
.ba__col{
	display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

    
}
.ba__col-1{
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}
.ba__col-2{
    grid-column-start: 4; 
    grid-column-end: 8; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}
.ba__col-3{
   grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 2; 
    grid-row-end: 4; 
}
.ba__col-4{
      grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 2; 
}
.ba__col-5{
         grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 2;
}
.ba__col-6{
            grid-column-start: 7;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 2;
}
.ba__col-7{
     grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
}
.ba__col-8{
     grid-column-start: 8;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 3;
}
.ba__col-9{
         grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}
.ba__col-10{
        grid-column-start: 5;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}
.ba__col-11{
       grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 4;
}
.ba__col-12{
         grid-column-start: 8;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 4;
}
.ba__col-13{
         grid-column-start: 2;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
}
.ba__col-14{
         grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 5;
}
.ba__col-15{
              grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 5;
}
.ba__col-grey{
    color: #5e6465;

}

.ba__col-back1{
	background-color: #afdfbf;
    font-weight: 600;
    font-size: 32px;
}
.ba__col-back2{
    font-weight: 600;
    font-size: 32px;
    background:#68c5b8;

}
.ba__col-back3{
    font-weight: 600;
    font-size: 42px;
    color: white;
	background-color: #fa688a;
}
.ba__col-back4{
	   background-color: #8a95ef;
        color: white;
        font-weight: 600;
       font-size: 14px;
}
.ba__col-back5{
	   background-color: #ffc569;
        color: grey;
       font-size: 18px;
       font-weight: 600;
}
.ba__col-back6{
	   background-color: #588cc7;
        color: white;
       font-size: 32px;
       font-weight: 600;
}
.ba__col-back7{
	   background-color: #588cc7;
       color: white;
       font-weight: 600;
       font-size: 18px;
}
.ba__col-back8{
	   background-color: #6652ad;
       color: white;
       font-size: 32px;
       font-weight: 600;
}
.ba__col-back8o{
       background-color: #6652ad;
       color: white;
       font-weight: 600;
       font-size: 18px;
}